<p id="notice"><%= notice %></p>
<div class="row">
  <h1>My Recipes</h1>
  <%= button_to 'New Recipe', new_recipe_path, :id => 'add-recipe', :class => 'btn right grey', :method => :get %>
</div>
<br />
<% @recipes.each do |recipe| %>
  <div class="col-md-4">
    <div class="recipe-box">
      <% if recipe.image? %>
          <%= link_to (image_tag recipe.image.url, class: 'recipe-index'), recipe %>
      <% end %>
      <ul>
        <li><%= link_to recipe.title, recipe.image.url, class:'black' %></li>
        <li><%= recipe.description %></li>
      </ul>
      <div align="right">
        <%= link_to edit_recipe_path(recipe) do %> <i class="fa fa-edit black"></i> <% end  %> |
        <%= link_to recipe, method: :delete, data: { confirm: 'Are you sure?' } do %> <i class="fa fa-window-close black"></i><% end %>
      </div>

    </div><!-- /recipe-box-->
  </div><!--col-md-4-->
<% end %>
<br>


